*{
	padding: 0; margin: 0;
}
body {
    margin: 0 auto;
    max-width: 500px;
	min-width: 300px;
}
h2{
    margin-top: 20px;
    text-align: center;
}
.forma{
    background: #ecedee;
	border: 2px solid #999999;
	padding: 10px;
	margin: 10px;
    max-width: 500px;
	min-width: 300px;
}
.forma1o{
    text-align: center;
    background: #ecedee;
    display: inline-block;
    width: 100px;
}
.forma2o{
    text-align: center;
    background: #ecedee;
    display: inline-block;
    width: 180px;
}
.forma1o p{
    margin-top: 11px;
}
button{
    width: 25px;
    height: 25px;
}
.time{
    height: 22px;
    width: 25%;
    margin-top: 5px;
    margin-bottom: 5px;
}
input{
    text-align: center;
    font-size: 18px;
}
p{
    font-size: 20px;
}
label{
    font-size: 20px;
}